html body {
  background-color: #150578;
  color: white;
}

.pages {
  min-height: calc(100vh - 121px - 97px);
}

a {
  color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
  color: white;
}